<!DOCTYPE html>
<html data-theme="zinc">
  <head>
    <title>Aven</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <%# Aeno UI framework styles %>
    <%= stylesheet_link_tag "aeno/tailwind", media: "all" %>
    <%# Aven engine styles %>
    <%= stylesheet_link_tag "aven/application", media: "all" %>
    <%= stylesheet_link_tag "aven/tailwind", media: "all" %>
    <%= javascript_importmap_tags "aven/application", importmap: Aven.importmap %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
