<!DOCTYPE html>
<html>
  <head>
    <title>Sqema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <%= stylesheet_link_tag "sqema/application", media: "all" %>
    <%= stylesheet_link_tag "sqema/tailwind", media: "all" %>
    <%= javascript_importmap_tags "sqema/application", importmap: Sqema.importmap %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
